* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #df5e5e; */
}

.up {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #6e7836; */
  padding: 40px 0 0;
  font-size: large;
}

.down {
  /* background-color: #ffffff; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.left {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-control {
  background-color: #faf9f6;
  border: 1px solid #372f29;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
}
.form-control:focus {
  box-shadow: 0 0 0 1px #372f29;
  outline: none;
}

.eyecont {
  display: flex;
  flex-direction: column;
  position: relative;
}
.eye {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}

.submitBtn {
  width: 100%;
  font-size: 18px;
  background-color: #372f29;
  color: #faf9f6;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 4% 7% 3% 0;
  font-size: 18px;
}
.box {
  border: 2px solid #372f295f;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.toggle {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.togglebtn {
  border: 1px solid #372f29;
  font-weight: 600;
}

.table {
  display: flex;
  padding: 20px 0;
  gap: 25px;
}
.table select {
  width: 100%;
  padding: 0 20px;
  font-size: 20px;
}

.column {
  height: fit-content;
  padding: 20px 0 0;
  gap: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: #659842; */
}

.colbox {
  /* background-color: #8b2323; */
  height: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #372f29;
  justify-content: center;
  align-items: center;
}

.col-item {
  /* background-color: #a52929; */
  /* width: fit-content; */
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
.submitForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #621717; */
  margin-top: 50px;
  height: 350px;
  justify-content: space-between;
}
.form-table {
  gap: 10px;
}
.fileInput{
  font-size:20px;
  display: flex;
}
.boxfile{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
