*{
    margin: 0;
    padding: 0;
}
.spinner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #faf9f66c;
    z-index: 999;
}
.spinner img{
    height: 50px;
    animation: loding 1s infinite  ;
    opacity: 75%;
}
@keyframes loding {
    0%{
        opacity: 75%;
    }
    25% {
        opacity: 100%;
    }
    80%{
        opacity: 75%;
    }
  }